<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
  </head>
  <body>
    <div class="xw">
      <header id="header" class="1">
        <nav>
          <label class="logo">HelpingHands</label>
          <ul>
            <li><a href="{{url_for('home')}}">HOME</a></li>
            <!-- <li><a href="C:\Users\SAKSHI RATHI\OneDrive\Desktop\proj_wtl_2023\template\forum.html">FORUM</a></li> -->
            <li><a href="{{url_for('forum')}}">FORUM</a></li>
            <!-- <li><a href="C:\Users\SAKSHI RATHI\OneDrive\Desktop\proj_wtl_2023\template\contactus.html">CONTACT</a></li> -->
            <li><a href="{{url_for('contact')}}">CONTACT</a></li>
            <li><button class='loginbtn'onclick="document.getElementById('login-form').style.display='block'" style="width: auto;">LOGIN</button></li>
            <li><a href="{{url_for('profile')}}">PROFILE</a></li>
          </ul>
        </nav>
      </header>

      <div class="profile">
        <h1 class="heading">PROFILE</h1>
        <div class="wrapper">
          <div class="left">
            <img src="https://i.imgur.com/cMy8V5j.png" alt="user" width="100" />
            <h4>ARAV PATIL</h4>
            <p>UI Developer</p>
          </div>
          <div class="right">
            <div class="info">
              <h3>Information</h3>
              <div class="info_data">
                <div class="data">
                  <h4>Email</h4>
                  <p>apatil@gmail.com</p>
                </div>
                <div class="data">
                  <h4>Phone</h4>
                  <p>91234455</p>
                </div>
                <div class="data">
                  <h4>City</h4>
                  <p>Pune</p>
                </div>
              </div>
            </div>

            <div class="projects">
              <h3>ROLE</h3>
              <div class="projects_data">
                <div class="data">
                  <h4>VOLUNTEER</h4>
                  <p>Recently volunteered as a writer and reader.</p>
                </div>
                <div class="data">
                  <h4>Overall Feedback</h4>
                  <p>Good.</p>
                </div>
              </div>
            </div>

            <div class="social_media">
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="l-footer">
        <h1>
          <img src="https://i.postimg.cc/y62wcLBq/logo.png" alt="" />
        </h1>
        <p>
          All volunteers came and registered as a volunteers in HelpingHands may
          be pooled together and allocated towards assisting, education and
          social inclusion initiatives across India.
        </p>
      </div>
      <ul class="r-footer">
        <li>
          <h2>Social</h2>
          <ul class="box">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Pinterest</a></li>
            <li><a href="#">linkendin</a></li>
          </ul>
        </li>

        <li>
          <h2>Legal</h2>
          <ul class="box">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Contract</a></li>
          </ul>
        </li>
      </ul>
      <div class="b-footer">
        <p>All rights reserved by ©PICTSTUDENTS</p>
      </div>
    </footer>
  </body>
</html>
